numpy
pillow
lxml
requests
pagexml-hf @ git+https://github.com/The-Flow-Project/pagexml-hf@main
flow_segmenter @ git+https://github.com/The-Flow-Project/package-segmenter@main
pydantic~=2.11.4
setuptools>=78.1.1
PyYAML
htrflow
motor~=3.5.1

